<a href="https://colab.research.google.com/github/suyash-rgb/Jupyter-Notebooks-and-Google-Colab/blob/main/list_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_list = [1,23,3,4,5,6,7,8,9,10]
print(my_list)
print(my_list[1:3])

print(my_list[-3:])
#print(my_list[-1:-5]) to check

print(my_list[-5:-1])

[1, 23, 3, 4, 5, 6, 7, 8, 9, 10]
[23, 3]
[8, 9, 10]
[]
[6, 7, 8, 9]

In [8]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(my_tuple)
print(my_tuple[1:3])
print(my_tuple[-3:])
print(my_tuple[-5:-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 3)
(8, 9, 10)
(6, 7, 8, 9)

Adding two list

In [9]:
l1=[1,2,4,5,3,5,6,7]
l2=[1,23,4,5,6,6,7]
l3=l1+l2
print(l3)

[1, 2, 4, 5, 3, 5, 6, 7, 1, 23, 4, 5, 6, 6, 7]

extend a list

In [11]:
l1=[1,2,4,5,3,5,6,7]
l1.extend([2]) #need to pass as a list
print(l1)

[1, 2, 4, 5, 3, 5, 6, 7, 2]

In [12]:
my_list = [1, 2, 3]

# Multiply a list by an integer to repeat it
repeated_list = my_list * 3
print("Repeated list:", repeated_list)

Repeated list: [1, 2, 3, 1, 2, 3, 1, 2, 3]

make a list which contains all interger values and make a list will all natural numbers slice out all postive values from integer list and natural numbers

In [22]:
#interger = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#natural = [1,2,3,4,5,6,7,8,9,10]

ilist = []
for i in range(-10, 11):
  ilist.append(i)
print(ilist)

nlist=[]
for i in range(1,11):
  nlist.append(i)
print(nlist)

resList= ilist[11:21]+nlist
print(resList)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]